kube-prometheus-stack:
  alertmanager:
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: ipallowlan@kubernetescrd
        traefik.ingress.kubernetes.io/router.entrypoints: web
      hosts:
        - alertmanager.svc.madtech.cx

