argo-cd:
  global:
    domain: argocd.svc.madtech.cx

  configs:
    params:
      server.insecure: true  # tls termination by traefik
    secret:
      createSecret: false    # managed by SOPS operator in ./templates/argocd-secret.sops.yaml
    cm:
      admin.enabled: false
      oidc.config: |
        name: Authentik
        issuer: https://authentik.svc.madtech.cx/application/o/argocd/
        clientID: argocd
        enablePKCEAuthentication: true
        requestedScopes: ["openid", "profile", "email", "groups"]
    rbac:
      policy.csv: |
        g, ArgoCDAdmins, role:admin

  controller.metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack

  repoServer.metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack

  server:
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.tls.certresolver: le-http
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: kube-prometheus-stack

  dex.metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack

  redis.metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack

  notifications.metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack
