authentik:
  global:
    env:
    - name: AUTHENTIK_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: authentik-secret
          key: secret-key

  authentik:
    error_reporting:
      enabled: false

    postgresql:
      host: file:///postgres-creds/host
      name: file:///postgres-creds/dbname
      user: file:///postgres-creds/username
      password: file:///postgres-creds/password

  server:
    ingress:
      ingressClassName: traefik
      enabled: true
      hosts:
        - authentik.svc.madtech.cx
      annotations:
        traefik.ingress.kubernetes.io/router.tls: 'true'
        traefik.ingress.kubernetes.io/router.tls.certresolver: le-http
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-pg-cluster-app
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true

  worker:
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-pg-cluster-app
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true
